.songRow {
  margin-left: 46px;
  padding: 21px;
  display: flex;
  align-items: center;
  z-index: 101;
  color: white;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__info {
  margin-left: 20px;
}

.songRow__info > h1 {
  font-size: 13px;
}

.songRow__info > p {
  font-size: 15px;
  margin-top: 3px;
  color: gray;
}

.songRow__album {
  height: 41px;
  width: 41px;
}
